/* 
    MLC Bloeiman <@strawmelonjuice, mar@strawmelonjuice.com>

    Collectie van lettertypes
*/

@font-face {
    font-family: "Josefin Sans";
    src: url(../fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf);
}
@font-face {
    font-family: "Fira Sans";
    src: url(../fonts/Fira_Sans/FiraSans-Regular.ttf);
}
@font-face {
    font-family: "Gantari";
    src: url(../fonts/Gantari/Gantari-VariableFont_wght.ttf);
}
@font-face {
    font-family: "Syne";
    src: url(../fonts/Syne/Syne-VariableFont_wght.ttf);
}