/* 
    Author: MLC Bloeiman <@strawmelonjuice, mar@strawmelonjuice.com> 
    Date: 26 maart 2024
    
    Stijlen specifiek per pagina

*/

/* Om stijlen per pagina te selecteren dient een class toegevoegd te worden aan de body */

/* Stijlen specifiek voor de homepagina */
.home .gridmain {
    display: grid;
    height: 90%;
    grid-auto-flow: column;
    grid-auto-columns: 50%;
}

.home .gridmain * {
    line-break: loose !important;
}



.home .gridmain #main-l>div {
    height: max-content;
    /* overflow: hidden; */
    /* max-height: 40VH; */
    max-width: 80%;
}

.home .gridmain #main-r>div#spotlight {
    overflow: hidden;
    display: grid;
    grid-auto-flow: row;
}

.home .gridmain #main-r>h1 {
    display: inline-block;
    line-height: 13px;
    height: 13px;
}

.home .gridmain #main-r,
.home .gridmain #main-l>div {
    background-color: #f0f8ff;
    margin: 20px;
    border-radius: 30px;
    padding: 10px;
    font-size: 0.7em;
}

.home .gridmain #main-l {
    overflow: unset;
    display: grid;
    line-gap-override: 0px;
    grid-auto-flow: row;
}

.home .gridmain #main-r {
    width: 30vw;
    margin: 20px;

}

.home .nieuwsitem {
    background-color: #b3b43e;
    /* overflow: clip; */
    max-width: 80%;
    padding: 10px;
    margin: 20px;
    border-radius: 40px;
}

.home .nieuwsitem h1 {
    font-size: 19px;
}

.home .nieuwsitem h2 {
    font-size: 16px;
}

.home .nieuwsitem h3 {
    font-size: 14px;
}

.home .nieuwsitem h4,
.home .nieuwsitem {
    font-size: 0.9em;
}

/* Contactpagina */
.contact main form.main {
    align-items: center;
}

.contact main form.main textarea,
.contact label {
    width: 90%;
    min-width: 90%;
    max-width: 90%;
    margin: auto;
}

.contact input,
.contact textarea {
    border-color: #b3b43e;
    border-style: dotted;
}

.contact label[for=submit] {
    display: block;
    padding: 10px;
    margin: 20px;
    width: 90%;
}

.contact input[type=submit] {
    float: right;
    margin: 0px;
    display: inline;
}

.contact form.main {
    max-width: 60VW;
    margin: auto;
}

.contact main {
    align-items: center;
}



/* Donatiepagina */
.doneren div.main {
    align-items: center;
}

.doneren button#donatieknop {
    border-color: #b3b43e;
    border-style: dotted;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}